.Denied {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    padding-top: 10vh;
    align-items: flex-start;
    flex-wrap: wrap;

    .deniedInfo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .title {
        font-weight: lighter;
        margin: 0 5px;
    }

    .separator {
        margin: 0 5px;
    }

    .link {
        padding: 0 5px;
    }

    span,
    .link {
        font-size: 18px;
        color: grey;

        &.link {
            color: color(grey blackness(90%));
        }
    }
}