.Auth {
    max-width: 500px;
    margin: auto;
    box-shadow: 9px 7px 20px 2px black;
    padding: 20px;
    border-radius: 5px;
    background: white;

    form {
        > div {
            margin: 10px 0;
            position: relative;
        }
    }
}

.root > * {
    width: 100%;
}

.error {
    color: red;
    font-size: .8em;
    width: 100%;
    margin-top: 0;
    display: inline-block;
    margin-left: 0;
}

.actions {
    display: flex;
    justify-content: center;
}